
        .logo-img{
            width: 107px;
            height: 38px;     
        }
        .theme-color{
            background-color: #24303F;
        }
        .btn-gry{
            background-color: #E1E1E1;
        }
        .theme-color-yellow{
            background-color: #F3A847;
        }
        .input-box-size{
            width: 40%;
        }
        .text-gray{
            color: #c7c7c8;
        }
        .navbar{
            align-items: flex-end;      
        }
        .mycontainer{
            width: 96%;
            margin: 0 auto;
        }
        /* .carousel-control-next-icon {
            background-image: url(./Assets/images/right-arrow.svg);
        }
        .carousel-control-prev-icon {
            background-image: url(./Assets/images/back.svg);
        }  */
        @media (max-width:1180px){
            .navbar{
                width: 1180px;
            }
        }
        .nav{
            align-items: flex-end;
        }
        .minsize{
            font-size: 13px;
        }
        .minsize2{
            font-size: 14px;
        }
        nav ul li{
            line-height: 1.2;
            display: inline;
        }
        nav ul li span{  
            display: block;
        }
        #nav-2 li i{
            transition: 1s;
        }
        #nav-2 li:hover i{ 
            transform: scale(1.1,1.1)
        }

        .carousal{
            position: relative;
            width: 100%;
            overflow: hidden;
          
            
        }
        .slider{
            
            width: 150%;
            transition-duration: 1s;
            
            
        
        }
        .slider img{
            margin: 8px;
            width: 12.10%;
            height: 200px;
        }
        @media (max-width:1200px){
            .slider img{
            height: 200px;
        }
        }
        @media (max-width:996px){
            .slider img{
            height: 167px;
        }
        }
        @media (max-width:768px){
            .slider img{
            height: 142px;
        }
        }
        @media (max-width:450px){
            .slider img{
            height: 111px;
        }
         }
        .carousal button{
            font-size: 30px;
            font-weight: 300;
            width: 40px;
            height: 80px;
            border: none;
            box-shadow: 5px 5px 8px grey;
            background-color: white;
            position: absolute;
            top:35%;
            cursor: pointer;
        }
        .next{
            border-radius: 3px 0px 0px 3px;
            margin-left: 95%;
        }
        .prev{
            border-radius: 0px 3px 3px 0px;
            margin-left: 0%;
        } 
        #footer .footer-middle li,#footer .footer-bottom li{
            list-style: none;
        }

        #footer .footer-bottom ul li{
            line-height: 1;
        }
        .sml-font{
            color:#565656;
            font-size: 12px;
        }
        .country-name{
            font-size: 12px;
            color: #c7c7c8;
        }
        .ft-to-li-heading{
            font-weight: 600;
            font-size: 17px;
            color: #c7c7c8;
        }
        .ft-to-li-font{
            font-size: 13px;
            color: #c7c7c8;
        }
        .ft-bt-heading{
            font-size: 16px;
            color: #c7c7c8;
        }